#version=RHEL10
text

# System authorization & locale configuration
auth --enableshadow --passalgo=sha512
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'

# Time and NTP server settings
timezone Asia/Seoul --utc
timesource --ntp-server=kr.pool.ntp.org

# Network & Hostname configuration
network --bootproto=dhcp --device=link --activate --hostname=rhel-ztp-edge

# Installation source (Local router loop-mount mirror)
url --url="http://192.168.1.1/mounted-iso"

# Root authentication
rootpw --plaintext changeme123

# Custom Group creation with specified GID
group --name=wheel --gid=10

# Administrative user configuration with plaintext password and wheel group
user --name=rhel --password=Il0veazure --plaintext --groups=wheel

# Disk partitioning
clearpart --all --initlabel
autopart --type=lvm

# Firewall and enabled services
firewall --enabled --service=sshd --port=22:tcp

# Reboot upon completion
reboot

# Software packages and graphical environment selection
%packages
@^gnome-desktop-environment
gdm
gnome-session
gnome-shell
nautilus
kexec-tools
%end

# Post-installation first-boot GDM auto-login configuration
%post
cat > /etc/gdm/custom.conf <<EOF
[daemon]
AutomaticLoginEnable=True
AutomaticLogin=rhel
WaylandEnable=True

[security]
[xdmcp]
[chooser]
[debug]
EOF

systemctl enable gdm
%end